<md-toast md-theme="warn">
  <div class="md-toast-content" layout="column">
    <md-toolbar style="height: 40px;background: transparent; color: white;">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>{{vm.badRequest.Message}}</h2>
        <md-button class="md-icon-button" aria-label="Close" ng-click="vm.closeToast()">
          <md-icon md-font-icon="icon-close" style="color: black;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="p-10" style="color: red;">
      <ul>
        <li ng-repeat="err in vm.badRequest.validationErrors">{{err.ErrorMessage}}</li>
      </ul>
    </md-content>
  </div>
</md-toast>
