<div class="navigation-toggle" hide-gt-sm>
  <md-button class="md-icon-button" ng-click="vm.toggleHorizontalMobileMenu()"
             aria-label="Toggle Mobile Navigation">
    <md-icon md-font-icon="icon-menu"></md-icon>
  </md-button>
</div>

<ul class="horizontal">
  <li ng-repeat="node in vm.navigation" ms-navigation-horizontal-node="node"
      ng-class="{'has-children': vm.hasChildren}"
      ng-include="'navigation-horizontal-nested.html'"></li>
</ul>

<!-- Nested horizontal navigation template -->
<script type="text/ng-template" id="navigation-horizontal-nested.html">

  <div ms-navigation-horizontal-item layout="row" ng-if="!vm.isHidden()">

    <div class="ms-navigation-horizontal-button" ng-if="!node.uisref && node.title"
         ng-class="{'active md-accent-bg md-accent-fg': vm.isActive}">
      <i class="icon s18 {{node.icon}}" ng-if="node.icon"></i>
      <span class="title" translate="{{node.translate}}" translate-default="{{node.translateDefault}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}"
            ng-if="node.badge">{{node.badge.content}}</span>
      <i class="icon-chevron-right s18 arrow" ng-if="vm.hasChildren"></i>
    </div>
    <!--  ui-sref-opts="{reload: true}" -->
    <a class="ms-navigation-horizontal-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg"
       ng-class="{'active md-accent-bg md-accent-fg': vm.isActive}"
       ng-if="node.uisref && node.title">
      <i class="icon s18 {{node.icon}}" ng-if="node.icon"></i>
      <span class="title" translate="{{node.translate}}" translate-default="{{node.translateDefault}}" flex>{{node.title}}</span>
      <span class="badge white-fg" style="background: {{node.badge.color}}"
            ng-if="node.badge">{{node.badge.content}}</span>
      <i class="icon-chevron-right s18 arrow" ng-if="vm.hasChildren"></i>
    </a>

  </div>

  <ul ng-if="vm.hasChildren && !vm.isHidden()">
    <li ng-repeat="node in node.children" ms-navigation-horizontal-node="node"
        ng-class="{'has-children': vm.hasChildren}"
        ng-include="'navigation-horizontal-nested.html'"></li>
  </ul>

</script>
<!-- / Nested navigation template -->
