<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>
        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <ms-shortcuts></ms-shortcuts>

        <div class="toolbar-separator"></div>
    </div>

    <div layout="row" layout-align="start center" ng-include="vm.baseApp.BaseTempUrl+'/toolbar/layouts/semi-content-toolbar/menuUser.html'">

    </div>
</div>
