<!DOCTYPE html>
<html lang="fr" ng-app="Banque">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-if="!state.current.title">Test Rest </title>
    <title ng-if="state.current.title" ng-bind="state.current.title"></title>
    <link href='font/Roboto/roboto.css' rel='stylesheet' type='text/css'>
    <link href="css/final.css" rel='stylesheet' type='text/css'/>
</head>
<body md-theme="{{vm.themes.active.name}}" md-theme-watch ng-controller="IndexController as vm"
      class="{{state.current.bodyClass || ''}}">
<!-- SPLASH SCREEN -->
<ms-splash-screen id="splash-screen">
    <div class="center">
        <div class="logo">
            <img src="images/logos/logo.png" alt="logo "/>
        </div>
        <!-- Material Design Spinner -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="inner">
                    <div class="gap"></div>
                    <div class="left">
                        <div class="half-circle"></div>
                    </div>
                    <div class="right">
                        <div class="half-circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Material Design Spinner -->
    </div>
</ms-splash-screen>
<!-- / SPLASH SCREEN -->

<div id="main" class="animate-slide-up" ui-view="main" layout="column"></div>

<!--<ms-theme-options></ms-theme-options>-->

<script type="application/javascript" src="js/dep.js"></script>
<script type="application/javascript" src="js/final.js"></script>
</body>
</html>
