<div layout="row" layout-align="start center">
    <div layout="row" layout-align="start center" flex>

        <span ng-include="vm.baseApp.BaseTempUrl+'/content-logo/logo.html'"></span>


        <div class="toolbar-separator"></div>

        <md-button id="navigation-toggle" class="md-icon-button" ng-click="vm.toggleSidenav('navigation')"
                   hide-gt-sm aria-label="Toggle navigation" translate
                   translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION">
            <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
        </md-button>

        <md-button class="md-icon-button navigation-fold-toggle"
                   hide show-gt-sm aria-label="Toggle navigation fold"
                   translate translate-attr-aria-label="TOOLBAR.TOGGLE_NAVIGATION_FOLD"
                   ng-click="vm.toggleMsNavigationFolded()">
            <md-icon class="s18" md-font-icon="icon-backburger"></md-icon>
        </md-button>

        <ms-shortcuts></ms-shortcuts>

        <div class="toolbar-separator"></div>
    </div>

    <div layout="row" layout-align="start center" ng-include="vm.baseApp.BaseTempUrl+'/toolbar/layouts/semi-content-toolbar/menuUser.html'">

    </div>
</div>
