<md-progress-circular id="toolbar-progress" ng-if="$root.loadingProgress || loadingProgress" class="md-accent"
                      md-mode="indeterminate" md-diameter="32">
</md-progress-circular>

<md-menu-bar id="user-menu">
    <md-menu md-position-mode="left bottom">
        <md-button class="user-button" ng-click="$mdOpenMenu()"
                   aria-label="User settings"
                   translate translate-attr-aria-label="TOOLBAR.USER_SETTINGS">
            <div layout="row" layout-align="space-between center">
                <div class="avatar-wrapper">
                    <img md-menu-align-target class="avatar" src="/images/avatars/profile.jpg">
                  <md-icon md-font-icon="icon-checkbox-marked-circle"
                           ng-style="{'color': '#4CAF50' }"
                           class="icon status s16">
                  </md-icon>
                </div>
                <span class="username" hide show-gt-sm>{{vm.userInit.item.nomEmploye}}</span>
                <md-icon md-font-icon="icon-chevron-down"
                         class="icon s16" hide-xs></md-icon>
            </div>
        </md-button>

        <md-menu-content width="3">
            <md-menu-item class="md-indent">
                <md-icon md-font-icon="icon-account" class="icon"></md-icon>
                <md-button ng-click="vm.openProfileDialog($event)">My Profile</md-button>
            </md-menu-item><!--

            <md-menu-item class="md-indent" ui-sref="app.mail">
                <md-icon md-font-icon="icon-email" class="icon"></md-icon>
                <md-button>Inbox</md-button>
            </md-menu-item>-->

            <md-menu-divider></md-menu-divider>

            <md-menu-item class="md-indent">
                <md-icon md-font-icon="icon-logout" class="icon"></md-icon>
                <md-button ng-click="vm.logout()">Logout</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>

<div class="toolbar-separator"></div>

<ms-search-bar on-search="vm.search(query)" on-result-click="vm.searchResultClick(item)"
               debounce="300"></ms-search-bar>

<div class="toolbar-separator"></div>

<md-menu id="language-menu" md-offset="0 72" md-position-mode="target-right target">
    <md-button class="language-button" ng-click="$mdOpenMenu()"
               aria-label="Language" md-menu-origin md-menu-align-target>
        <div layout="row" layout-align="center center">
            <img class="flag" ng-src="/images/flags/{{vm.selectedLanguage.flag}}.png">
            <span class="iso">{{vm.selectedLanguage.code}}</span>
        </div>
    </md-button>

    <md-menu-content width="3" id="language-menu-content">
        <md-menu-item ng-repeat="(iso, lang) in vm.languages">
            <md-button ng-click="vm.changeLanguage(lang)" aria-label="{{lang.title}}" translate
                       translate-attr-aria-label="{{lang.title}}">
                        <span layout="row" layout-align="start center">
                            <img class="flag" ng-src="/images/flags/{{lang.flag}}.png">
                            <span translate="{{lang.translation}}">{{lang.title}}</span>
                        </span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
