<div layout="row" layout-align="space-between center">

    <div layout="row" layout-align="start center">

        <span ng-include="vm.baseApp.BaseTempUrl+'/content-logo/logo.html'"></span>

        <div class="toolbar-separator"></div>

        <ms-shortcuts></ms-shortcuts>

        <div class="toolbar-separator"></div>
    </div>

    <div layout="row" layout-align="start center" ng-include="vm.baseApp.BaseTempUrl+'/toolbar/layouts/semi-content-toolbar/menuUser.html'">

    </div>
</div>
